@model PresentationLayer.Bridge.BridgeToBLL

@{
    ViewBag.Title = "Index";
}

<h2>Админка</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
