
@{
    ViewBag.Title = "ShowAllUsers";
}

<div>
    <h3>Все пользователи</h3>
    <table class="table table-bordered table-hover">
        <tr>
            <td><p>Login</p></td>
            <td><p>Password</p></td>
            <td><p>ManagerName</p></td>
            <td></td>
            <td></td>
        </tr>
        @foreach(var item in ViewBag.Users)
        {
            <tr>
                <td><p>@item.Login</p></td>
                <td><p>@item.Password</p></td>
                <td><p>@item.ManagerName</p></td>
                <td><p>@Html.ActionLink("Изменить", "EditUser", "Admin", new { login = item.Login }, null)</p></td>
                <td><p>@Html.ActionLink("Удалить", "DeleteUser", "Admin", new { login = item.Login }, null)</p></td>
           </tr>
        }
    </table>
</div>